<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas {{mainIconMenu}}"></i>
    </div>
    <div class="sidebar-brand-text mx-3"> 
      {{titleMenu}} <sup> {{subtitleMenu}}</sup>
    </div>
  </a>
  
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  
  <!-- Custom Nav Item - Pages Collapse Menu -->
  <li class="nav-item" *ngFor="let item of sidebar_menuItems; let i = index" >
    
    <a *ngIf="item.items.length == 0" class="nav-link" [routerLink]="item.route" routerLinkActive="router-link-active">
      <i class="fas fa-fw {{item.icon}}"></i>
      <span>{{item.title}}</span>
    </a>
    
    <a *ngIf="item.items.length > 0" class="nav-link collapsed" href="#" 
      data-toggle="collapse" attr.data-target="#collapse{{i}}" aria-expanded="true">
      <i class="fas fa-fw fa-cog"></i>
      <span>{{item.title}}</span>
    </a>
    
    <div *ngIf="item.items.length > 0" id="collapse{{i}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <div *ngFor="let subitem of item.items">
          <h6 class="collapse-header">{{subitem.subTitle}}</h6>
          <a *ngFor="let child of subitem.subItems" class="collapse-item" [routerLink]="child.route" routerLinkActive="active">{{child.title}}</a>
        </div>
      </div>
    </div>

  </li>
  <!-- /custom nav item - pages collapse menu -->
  
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>